<div id="group-list" class="flex-column" *ngIf="config && config.columns">
  <ul class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item text-wrap">
      <div class="d-flex justify-content-center align-items-center" *ngIf="body && body.length > 0">
        <div *ngIf="config.actions && config.actions.length > 0" class="sis--list-group-item_sm_column"></div>
        <div *ngFor="let column of config.columns; let i = index" class="text-left"
             [class]="config.columns[i].length"
          [translate]="config.columns[i].type === 'action' ? '' : column.title" [ngClass]="{
            'd-none': config.columns[i].hidden
          }"></div>
      </div>
    </li>
  </ul>

  <!-- The list of entries -->
  <ul class="sis--list-group sis--list-group-body" *ngIf="body && body.length > 0">
    <li class="sis--list-group-item text-wrap" *ngFor="let entry of body | orderBy: config.orderBy">
      <div class="d-flex justify-content-center align-items-center list-color">
        <!-- The list of actions -->
        <div *ngIf="config.actions && config.actions.length > 0" class="sis--list-group-item_sm_column text-left pr-0">
          <button *ngFor="let action of config.actions" (click)="callCallback(action.identifier, entry)"
            [title]="(action.title ? action.title : '') | translate " class="btn btn-default px-0">
            <i *ngIf="action.type === 'edit'" class="fas fa-edit text-indigo"></i>
          </button>
          <span class="px-0">
            <i class="fa fa-fw">&nbsp;</i>
          </span>

        </div>
        <!-- The list of data -->
        <div *ngFor="let column of config.columns; let i=index" [class]="config.columns[i].length" class="text-left"
          [ngClass]="{
            'text-truncate': config.columns[i].hasOwnProperty('truncate') && config.columns[i].truncate,
            'd-none': config.columns[i].hidden,
            'd-md-block': !config.columns[i].hidden
          }"
          [title]="config.columns[i].hasOwnProperty('truncate') && config.columns[i].truncate ? entry[column.name] : ''">
          <span class="text-secondary"
            *ngIf="!config.columns[i].hasOwnProperty('type') || (config.columns[i].hasOwnProperty('type') &&  config.columns[i].type === 'text')"
            [ngClass]="{
              'font-xs': config.columns[i].variant !== 'primary',
              'text-body': config.columns[i].variant === 'primary',
              'text-success': config.columns[i].variant === 'redGreen' && config.columns[i].hasOwnProperty('condition') && entry[config.columns[i].condition],
              'text-danger': config.columns[i].variant === 'redGreen' && config.columns[i].hasOwnProperty('condition') && !entry[config.columns[i].condition],
              'font-lg': config.columns[i].variant === 'redGreen' && entry[column.name] && entry[column.name].length > 3,
              'font-2xl': config.columns[i].variant === 'redGreen' && entry[column.name] && entry[column.name].length <= 3
            }">
            {{entry[column.name] || '-'}}
          </span>

          <button *ngIf="config.columns[i].type === 'action' && config.columns[i].variant === 'edit'"
            (click)="callCallback(config.columns[i].identifier, entry)"
            [title]="(config.columns[i].title ? config.columns[i].title : '') | translate "
            class="btn btn-default px-0 mx-0">
            <i class="fas fa-edit text-indigo"></i>
          </button>

          <span *ngIf="config.columns[i].type === 'boolean'">
            <i class="fa font-lg" [ngClass]="{
                'fa-check text-success': entry[column.name].toString() === config.columns[i].trueValue,
                'fa-times text-danger': entry[column.name].toString() !== config.columns[i].trueValue && config.columns[i].variant !== 'checkOrDash'
              }"></i>
            <span
              *ngIf="entry[column.name].toString() !== config.columns[i].trueValue && config.columns[i].variant === 'checkOrDash'"
              class="text-secondary font-xs">-</span>
          </span>
        </div>
      </div>
      <div *ngIf="entry && entry.subitems">
        <div *ngFor="let subitem of entry.subitems" class="d-flex justify-content-center align-items-center list-color">
          <div *ngIf="config.actions && config.actions.length > 0" class="sis--list-group-item_sm_column text-left pr-0">
            <span class="px-0">
              <i class="fa fa-fw">&nbsp;</i>
            </span>
            <button *ngFor="let action of config.actions" (click)="callCallback(action.identifier, subitem)"
                    [title]="(action.title ? action.title : '') | translate " class="btn btn-default px-0">
              <i *ngIf="action.type === 'edit'" class="fas fa-edit text-indigo"></i>
            </button>
          </div>
          <div class="text-left"></div>
          <div *ngFor="let column of config.columns; let i=index" [class]="config.columns[i].length" class="text-left"
            [ngClass]="{
              'text-truncate': config.columns[i].hasOwnProperty('truncate') && config.columns[i].truncate,
              'd-none': config.columns[i].hidden,
              'd-md-block': !config.columns[i].hidden
            }"
            [title]="config.columns[i].hasOwnProperty('truncate') && config.columns[i].truncate ? entry[column.name] : ''">
            <span class="text-secondary"
              *ngIf="!config.columns[i].hasOwnProperty('type') || (config.columns[i].hasOwnProperty('type') &&  config.columns[i].type === 'text')"
              [ngClass]="{
                'font-xs': config.columns[i].variant !== 'primary',
                'text-body': config.columns[i].variant === 'primary',
                'text-success': config.columns[i].variant === 'redGreen' && config.columns[i].hasOwnProperty('condition') && subitem[config.columns[i].condition],
                'text-danger': config.columns[i].variant === 'redGreen' && config.columns[i].hasOwnProperty('condition') && !subitem[config.columns[i].condition],
                'font-lg': config.columns[i].variant === 'redGreen' && subitem[column.name] && subitem[column.name].length > 3,
                'font-2xl': config.columns[i].variant === 'redGreen' && subitem[column.name] && subitem[column.name].length <= 3
              }">
              {{subitem[column.name] || '-'}}
            </span>
            <span *ngIf="config.columns[i].type === 'boolean'">
            <i class="fa font-lg" [ngClass]="{
                'fa-check text-success': subitem[column.name].toString() === config.columns[i].trueValue,
                'fa-times text-danger': subitem[column.name].toString() !== config.columns[i].trueValue && config.columns[i].variant !== 'checkOrDash'
              }"></i>
            <span
              *ngIf="subitem[column.name].toString() !== config.columns[i].trueValue && config.columns[i].variant === 'checkOrDash'"
              class="text-secondary font-xs">-</span>
          </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
